{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hello, {{ app.user.firstName ?? 'Guest User' }}!</h1>
    <hr>
{#    <p>Endereço de {{ address.user.firstName }}: {{ address.street }}, {{ address.number }}</p>#}
{#    <p>Endereço de {{ user.firstName }}: {{ user.address.street }}, {{ user.address.number }}</p>#}
{% endblock %}
