<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.0.1">

    <link rel="canonical" href="{{ absolute_url('/') }}">

    <title>{% block title %}{% endblock %} Gerenciador Loja</title>

    {{ encore_entry_link_tags('app') }}

    {% block stylesheets %}{% endblock %}

    <meta name="msapplication-config" content="/docs/4.5/assets/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#563d7c">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ absolute_url('/') }}">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item{% if app.request.attributes.get('_route') == 'home' %} active{% endif %}">
                    <a class="nav-link" href="{{ absolute_url('/') }}">
                        Home{% if app.request.attributes.get('_route') == 'home' %} <span class="sr-only">(current)</span>{% endif %}
                    </a>
                </li>
                <li class="nav-item{% if app.request.attributes.get('_route') == 'products_index' %} active{% endif %}">
                    <a class="nav-link" href="{{ path('products_index') }}">
                        Produtos{% if app.request.attributes.get('_route') == 'products_index' %} <span class="sr-only">(current)</span>{% endif %}
                    </a>
                </li>
                {% for category in categories.findAll %}
                    {% set href = path('categories_index', {'slug': category.slug}) %}
                    <li class="nav-item{% if app.request.pathInfo == href %} active{% endif %}">
                        <a class="nav-link" href="{{ href }}">
                            {{ category.name }}{% if app.request.pathInfo == href %} <span class="sr-only">(current)</span>{% endif %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <form action="{{ path('search_index') }}" class="form-inline my-2 my-lg-0">
                <input type="search" name="s" placeholder="Buscar" aria-label="Buscar" class="form-control mr-sm-2">
                <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Buscar</button>
            </form>
        </div>
    </div>
</nav>
<div class="container py-5">
    {% block body %}{% endblock %}
</div>

{{ encore_entry_script_tags('app') }}

{% block javascripts %}{% endblock %}
</body>
</html>