{% extends 'web.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-6">
            {% if product.productPhotos.count %}
                <div class="row">
                    <div class="col-lg-3">
                        {% for photo in product.productPhotos %}
                            <img src="{{ '/uploads/products/' ~ photo.image }}" alt="..." class="img-thumbnail mb-3">
                        {% endfor %}
                    </div>
                    <div class="col-lg-9 pl-0">
                        <img src="{{ asset('/uploads/products/' ~ product.productPhotos.first.image) }}" alt="..." class="img-thumbnail">
                    </div>
                </div>
            {% else %}
                <img src="{{ asset('images/no-photo.jpg') }}" alt="..." class="img-thumbnail">
            {% endif %}
        </div>
        <div class="col-lg-6">
            <h1>{{ product.name }}</h1>
            <p>{{ product.description }}</p>
            <h4><strong>R$ {{ product.floatPrice|number_format(2, ',', '.') }}</strong></h4>

            <form action="{{ path('cart_add', {item: product.slug}) }}" method="post" class="form-inline">
                <label class="sr-only" for="amount">Quantidade</label>
                <input type="number" name="amount" id="amount" value="1" class="form-control mb-2 mr-sm-2" required>
                <button type="submit" class="btn btn-success mb-2">Comprar</button>
            </form>
        </div>
    </div>

    <hr>
    {{ product.body }}
{% endblock %}
